/* Estilos da página index.html */
.center{
    text-align: center;
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
#menu li{  
        display: inline;
        padding: 15px;
        /* padding é uma "margem" ou um espaçamento dentro do elemento */
        /*margin: 30px;*/
        text-decoration: none;
        }
#menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover{
    color: goldenrod;
}

.pddng30 {
    padding: 30px;
}

.brdr50{
    padding: 30px;
    border-radius: 70%;
}

.wh{
    width: 300px;
    height: 300px;
}

.tm-social{
    height: 30px;
    /* padding: 10px; */
}
/* Estilos da página contato */